<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Exercice</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body class="bg-[#F2F2F2] flex flex-col min-h-screen">

    <!-- Navbar -->
    <%- include('../partials/navbar') %>

        <div class="flex-grow flex items-center justify-center p-6">
            <div class="w-full max-w-lg bg-white p-8 rounded-lg shadow-xl text-[#4A4A4A]">
                <h2 class="text-3xl font-bold text-center text-[#E30613] mb-6">
                    Ajouter un Exercice
                </h2>

                <form action="/workouts/<%= sessionId %>/exercises/add" method="POST">
                    <label class="block font-semibold mt-4">Nom de l'exercice</label>
                    <select name="name" id="exerciseSelect" class="w-full border p-3 rounded-lg bg-[#F2F2F2]">
                        <option value="" disabled selected>Sélectionnez un exercice</option>

                        <!-- 🔹 Activités Sédentaires -->
                        <option value="Dormir" data-met="1.0">Dormir (1.0 MET)</option>
                        <option value="Regarder la télévision" data-met="1.0">Regarder la télévision (1.0 MET)
                        </option>
                        <option value="Jeux vidéos assis" data-met="1.0">Jouer à des jeux vidéos (1.0 MET)</option>
                        <option value="Lecture assis" data-met="1.0">Lire en position assise (1.0 MET)</option>
                        <option value="Travail de bureau assis" data-met="1.3">Travail de bureau assis (1.3 MET)
                        </option>
                        <option value="Manger assis" data-met="1.5">Manger assis (1.5 MET)</option>

                        <!-- 🔹 Activités Légères -->
                        <option value="Pêche à la ligne" data-met="1.8">Pêche à la ligne (1.8 MET)</option>
                        <option value="Faire la vaisselle" data-met="1.8">Faire la vaisselle (1.8 MET)</option>
                        <option value="Activité sexuelle (passif)" data-met="1.8">Activité sexuelle (passif) (1.8
                            MET)</option>
                        <option value="Jouer de la guitare" data-met="2.0">Jouer de la guitare (2.0 MET)</option>
                        <option value="Cuisiner ou préparer des repas" data-met="2.0">Cuisiner ou préparer des repas
                            (2.0 MET)</option>
                        <option value="Se brosser les dents" data-met="2.0">Se brosser les dents (2.0 MET)</option>
                        <option value="Se doucher" data-met="2.0">Se doucher (2.0 MET)</option>
                        <option value="Marcher lentement, flâner" data-met="2.0">Marcher lentement, flâner (2.0 MET)
                        </option>
                        <option value="Réaliser des étirements" data-met="2.3">Réaliser des étirements (2.3 MET)
                        </option>
                        <option value="Yoga" data-met="2.3">Yoga (2.3 MET)</option>
                        <option value="S'occuper d'enfants" data-met="2.5">S'occuper d'enfants (2.5 MET)</option>
                        <option value="Nettoyage général de la maison" data-met="2.5">Nettoyage général de la maison
                            (2.5 MET)</option>
                        <option value="Pilates" data-met="2.8">Pilates (2.8 MET)</option>
                        <option value="Danse de salon, lente" data-met="3.0">Danse de salon, lente (3.0 MET)
                        </option>
                        <option value="Promener le chien" data-met="3.0">Promener le chien (3.0 MET)</option>
                        <option value="Voile (nautisme)" data-met="3.0">Voile (nautisme) (3.0 MET)</option>
                        <option value="Surf" data-met="3.0">Surf (3.0 MET)</option>

                        <!-- 🔹 Activités Modérées -->
                        <option value="Équitation, au pas" data-met="3.8">Équitation, au pas (3.8 MET)</option>
                        <option value="S'occuper d'un potager" data-met="3.8">S'occuper d'un potager (3.8 MET)
                        </option>
                        <option value="Tennis de table / ping-pong" data-met="4.0">Tennis de table / ping-pong (4.0
                            MET)</option>
                        <option value="Marcher pour se rendre sur son lieu de travail" data-met="4.0">Marcher pour
                            se rendre sur son lieu de
                            travail (4.0 MET)</option>
                        <option value="Vélo à assistance électrique" data-met="4.0">Vélo à assistance électrique
                            (4.0 MET)</option>
                        <option value="Volley-ball, match" data-met="4.0">Volley-ball, match (4.0 MET)</option>
                        <option value="Ski alpin et snowboard" data-met="4.3">Ski alpin et snowboard (4.3 MET)
                        </option>
                        <option value="Tondre la pelouse (tondeuse à moteur)" data-met="4.5">Tondre la pelouse
                            (tondeuse à moteur) (4.5 MET)
                        </option>
                        <option value="Golf, parcours" data-met="4.8">Golf, parcours (4.8 MET)</option>
                        <option value="Baseball" data-met="5.0">Baseball (5.0 MET)</option>
                        <option value="Snorkeling" data-met="5.0">Snorkeling (5.0 MET)</option>
                        <option value="Kayak (promenade)" data-met="5.0">Kayak (promenade) (5.0 MET)</option>
                        <option value="Plongée bouteille" data-met="5.3">Plongée bouteille (5.3 MET)</option>
                        <option value="Randonnée à travers champs et versants de collines" data-met="5.3">Randonnée
                            à travers champs et
                            versants de collines (5.3 MET)</option>
                        <option value="Randonnée en raquettes à neige, effort modéré" data-met="5.3">Randonnée en
                            raquettes à neige, effort
                            modéré (5.3 MET)</option>
                        <option value="Badminton, match" data-met="5.5">Badminton, match (5.5 MET)</option>
                        <option value="Escalade, difficulté modérée" data-met="5.8">Escalade, difficulté modérée
                            (5.8 MET)</option>
                        <option value="Activité sexuelle, partenaire actif" data-met="5.8">Activité sexuelle,
                            partenaire actif (5.8 MET)
                        </option>
                        <option value="Entraînement en résistance (haltérophilie, musculation, street workout, etc...)"
                            data-met="6.0">
                            Entraînement en résistance (haltérophilie, musculation, street workout, etc...) (6.0
                            MET)</option>
                        <option value="Vélo elliptique" data-met="6">Vélo elliptique (6.0 MET)</option>

                        <!-- 🔹 Activités Intenses -->
                        <option value="Zumba" data-met="6.5">Zumba (6.5 MET)</option>
                        <option value="Stand up paddle" data-met="6.5">Stand up paddle (6.5 MET)</option>
                        <option value="Promenade à vélo à son rythme" data-met="6.8">Promenade à vélo à son rythme
                            (6.8 MET)</option>
                        <option value="Tennis, match" data-met="6.8">Tennis, match (6.8 MET)</option>
                        <option value="Patinage sur glace" data-met="7.0">Patinage sur glace (7.0 MET)</option>
                        <option value="Vélo d'appartement" data-met="7.0">Vélo d'appartement (7.0 MET)</option>
                        <option value="Football, match" data-met="7.0">Football, match (7.0 MET)</option>
                        <option value="Course à pied d'endurance, type jogging" data-met="7.0">Course à pied
                            d'endurance, type jogging (7.0
                            MET)</option>
                        <option value="Basket-ball, match" data-met="7.5">Basket-ball, match (7.5 MET)</option>
                        <option value="Roller en ligne, loisir" data-met="7.5">Roller en ligne, loisir (7.5 MET)
                        </option>
                        <option value="Danse générale, rapide" data-met="7.8">Danse générale, rapide (7.8 MET)
                        </option>
                        <option value="Randonnée technique avec sac à dos" data-met="7.8">Randonnée technique avec
                            sac à dos (7.8 MET)
                        </option>
                        <option value="Monter des escaliers" data-met="8.0">Monter des escaliers (8.0 MET)</option>
                        <option value="Hockey sur glace" data-met="8.0">Hockey sur glace (8.0 MET)</option>
                        <option value="Natation synchronisée" data-met="8.0">Natation synchronisée (8.0 MET)
                        </option>
                        <option value="Rugby, match" data-met="8.3">Rugby, match (8.3 MET)</option>
                        <option value="Natation, crawl" data-met="8.3">Natation, crawl (8.3 MET)</option>
                        <option value="VTT" data-met="8.5">VTT (8.5 MET)</option>

                        <!-- 🔹 Activités Très Intenses -->
                        <option value="Course à pied de type cross country" data-met="9.3">Course à pied de type
                            cross country (9.3 MET)</option>
                        <option value="Water-polo, match" data-met="10.0">Water-polo, match (10.0 MET)</option>
                        <option value="Cyclisme de loisir, 22,5 km/h à 25,6 km/h, effort vigoureux" data-met="10.0">
                            Cyclisme de loisir, 22,5 km/h à 25,6 km/h, effort vigoureux (10.0 MET)</option>
                        <option value="Arts martiaux, en combat" data-met="10.3">Arts martiaux, en combat (10.3 MET)
                        </option>
                        <option value="Natation, brasse" data-met="10.3">Natation, brasse (10.3 MET)</option>
                        <option value="Entraînement fractionné de haute intensité" data-met="11.0">Entraînement
                            fractionné de haute intensité, Tabata, burpees, squats sautés, mountain climbers (11.0
                            MET)</option>
                        <option value="Plongée libre (plongée en apnée)" data-met="11.8">Plongée libre (plongée en
                            apnée) (11.8 MET)</option>
                        <option value="Handball, match" data-met="12.0">Handball, match (12.0 MET)</option>
                        <option value="Boxe, combat sur ring" data-met="12.3">Boxe, combat sur ring (12.3 MET)
                        </option>
                        <option value="Corde à sauter" data-met="12.3">Corde à sauter (12.3 MET)</option>
                        <option value="Course à pied de type marathon" data-met="13.3">Course à pied de type
                            marathon (13.3 MET)</option>
                        <option value="Natation, papillon" data-met="13.8">Natation, papillon (13.8 MET)</option>
                        <option value="Cyclisme à plus de 32 km/h" data-met="16.8">Cyclisme à plus de 32 km/h (16.8
                            MET)</option>
                        <option value="Course à pied de type sprint, >22,5 km/h" data-met="23.0">Course à pied de
                            type sprint, >22,5 km/h (23.0 MET)</option>

                        <!-- 🔹 Autre -->
                        <option value="Autre" data-met="">Autre (Saisir MET)</option>
                    </select>

                    <!-- Champ caché pour le MET sélectionné -->
                    <input type="hidden" name="met" id="metInput">

                    <!-- Champ Titre pour exercices personnalisés -->
                    <label class="block font-semibold mt-4 hidden" id="customNameLabel">Nom de l'exercice</label>
                    <input type="text" name="customName" id="customNameInput"
                        class="w-full border p-3 rounded-lg bg-[#F2F2F2] hidden" placeholder="Ex: Parkour, Pogo Stick">


                    <!-- Champ MET pour exercices personnalisés -->
                    <label class="block font-semibold mt-4 hidden" id="customMetLabel">MET personnalisé</label>
                    <input type="number" name="customMet" id="customMetInput"
                        class="w-full border p-3 rounded-lg bg-[#F2F2F2] hidden" placeholder="Ex: 8.5">

                    <label class="block font-semibold mt-4 mb-4">Durée (minutes)</label>
                    <input type="number" name="duration" placeholder="Durée en minutes"
                        class="w-full border p-3 rounded-lg bg-[#F2F2F2]" required min="1" />

                    <button type="submit"
                        class="w-full bg-[#E30613] hover:bg-[#C20510] text-white font-bold py-3 rounded-lg transition duration-300 mt-4">
                        Ajouter l'exercice
                    </button>
                </form>

                <p class="text-center text-[#4A4A4A] mt-4">
                    <a href="/workouts" class="text-[#E30613] hover:underline">Retour</a>
                </p>
            </div>
        </div>

        <!-- Footer -->
        <%- include('../partials/footer') %>

            <script>
                function logFormData(event) {

                    let selectedExercise = document.getElementById("exerciseSelect");
                    let selectedOption = selectedExercise.options[selectedExercise.selectedIndex];
                    let metValue = selectedOption.dataset.met || document.getElementById("customMetInput").value;
                    let durationValue = document.getElementById("durationInput").value;

                    // Mettre à jour le champ caché du MET
                    document.getElementById("metInput").value = metValue;

                    // Ensuite, soumettre le formulaire
                    event.target.submit();
                }

                document.getElementById("exerciseSelect").addEventListener("change", function () {
                    let selectedOption = this.options[this.selectedIndex];
                    let metValue = selectedOption.dataset.met;
                    let customMetInput = document.getElementById("customMetInput");
                    let customMetLabel = document.getElementById("customMetLabel");
                    let metInput = document.getElementById("metInput");

                    let customNameInput = document.getElementById("customNameInput");
                    let customNameLabel = document.getElementById("customNameLabel");

                    if (selectedOption.value === "Autre") {
                        customMetInput.classList.remove("hidden");
                        customMetLabel.classList.remove("hidden");
                        customMetInput.required = true;

                        customNameInput.classList.remove("hidden");
                        customNameLabel.classList.remove("hidden");
                        customNameInput.required = true;

                        metInput.value = ''; // Effacer MET pour éviter une erreur
                    } else {
                        customMetInput.classList.add("hidden");
                        customMetLabel.classList.add("hidden");
                        customMetInput.required = false;

                        customNameInput.classList.add("hidden");
                        customNameLabel.classList.add("hidden");
                        customNameInput.required = false;

                        metInput.value = metValue; // Mettre à jour le champ MET caché
                    }
                });
            </script>

</body>

</html>